.results-item {
  font-size: 16px;
  padding: 5px;
  height: 360px;
  background-color: #ffffff;
  box-shadow: 2px 2px #cfcfcf;
  text-align: left;
}

.results-img-container {
  display: block;
  width: 100%;
  height: 260px;
}

.results-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.results-title {
  font-family: 'Lato', sans-serif;
}

.results-pays-prix {
  font-size: 0.8rem;
  color: rgb(122, 122, 122);
}

.results-categorie {
  display: inline-block;
  padding: 2px;
  border: 1px solid var(--main-blue);
  background-color: var(--main-blue);
  color: rgb(216, 216, 216);
  font-size: 0.7rem;
}
