.header-container {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 5px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 60px;
  background-color: var(--main-blue);
}

.header-title {
  display: none;
  color: #ffffff;
}

.header-filter-button {
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.filter-open {
  width: 100%;
  height: 100%;
  background: url('../../Assets/filter_list-24px.svg') center center no-repeat;
  filter: invert(1);
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
  }

  .header-title {
    display: inline;
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    font-weight: 200;
    background-image: linear-gradient(to bottom, #f27768, #ff6768, #f27768);
    background-clip: text;
    color: transparent;
  }
}
