.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.322);
  backdrop-filter: blur(2px);
}

.loading-spinner > img {
  width: 30vh;
  height: 30vh;
}

.loading-fullscreen {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
