@import url('https://fonts.googleapis.com/css?family=Barlow:400i|Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: calc(12px + 0.8vw);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --main-blue: #17223b;
  --bright-orange: #ff6768;
  --secondary-blue: #263859;
  --gray: #6b778d;
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 26px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #6e78cf;
}

pre {
  text-align: left;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: #6e78cf;
}
