@import url('https://fonts.googleapis.com/css?family=Barlow:400i|Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: calc(12px + 0.8vw);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --main-blue: #17223b;
  --bright-orange: #ff6768;
  --secondary-blue: #263859;
  --gray: #6b778d;
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 26px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #6e78cf;
}

pre {
  text-align: left;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: #6e78cf;
}

.checkbox {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
}

input[type='checkbox'] {
  display: none;
}

.checkbox:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url('./Assets/check_box_outline_blank-24px.svg') no-repeat center
    center;
  filter: opacity(0.7);
  color: #f3f3f3;
  text-align: center;
}
input[type='checkbox']:checked + .checkbox:before {
  background: url('./Assets/check_box-24px.svg') no-repeat center center;
  filter: opacity(0.9);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  background-size: 25px 25px;
}
