.search-form {
  height: 100%;
  display: flex;
  align-items: center;
}

.search-form-text {
  height: 80%;
  border: 1px solid #dddddd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'Lato', sans-serif;
  vertical-align: middle;
  font-size: 16px;
}

.search-form-button {
  display: inline-block;
  height: 80%;
  width: 60px;
  border: 1px solid var(--bright-orange);
  background-color: var(--bright-orange);
  vertical-align: middle;
  color: #dddddd;
  cursor: pointer;
}

.search-icon {
  width: 100%;
  height: 100%;
  background: url('../../../Assets/search-24px.svg') center center no-repeat;
  filter: invert(1);
}
